<div class="container">

        <div class="row" style="margin-top: 30px;">
            <div class="box">
                <div class="col-lg-12">
                    <hr/>
                    <h2 class="intro-text text-center" >
                        <strong>About</strong>
                    </h2>
                    <hr/>
                    <img src="images/intro-pic.jpg" class="img-responsive img-border img-left" alt="a song of ice and fire" />
                    <hr class="visible-xs"/>
                    <p class="introduction"><em>A Song of Ice and Fire</em> is a series of epic fantasy novels by the American novelist and screenwriter George R. R. Martin. He began the first volume of the series, A Game of Thrones, in 1991 and had it published in 1996.Martin, who initially envisioned the series as a trilogy, has published five out of a planned seven volumes.</p>
                    <p class="introduction"><em>A Song of Ice and Fire</em> takes place on the fictional continents Westeros and Essos. The point of view of each chapter in the story is a limited perspective of a range of characters growing from nine, in the first novel, to thirty-one by the fifth. Three main stories interweave a dynastic war among several families for control of Westeros, the rising threat of the supernatural Others in the northernmost reaches of Westeros, and the ambition of Daenerys Targaryen, the deposed king's exiled daughter, to assume the Iron Throne.</p>
                    <p class="introduction"><em>Song of Ice and Fire</em> received praise for its diverse portrayal of women and religion, as well as its realism. An assortment of disparate and subjective points of view confronts the reader, and the success or survival of point of view characters is never assured. Within the often morally ambiguous world of A Song of Ice and Fire, questions concerning loyalty, pride, human sexuality, piety, and the morality of violence frequently arise.</p>
                </div>
            </div>
        </div>

        
        

    </div>
    <!-- /.container -->