

<div class="container">
	
	<div class="row">
		<div class="col-lg-12 text-center" >
			<hr>
			<h1>{{achar.details.name}} </h1>
			<hr>
		</div>
	</div>

	<div class="row box" style="background:rgba(149, 212, 122, 0.5);">
		<div class="col-lg-12" style="margin-top: 20px;">
			<table class="table table-hover table-bordered mytable table-responsive" >
				<tbody >
					<tr> 
						<td class="text-center">Url</td>
						<td>{{achar.details.url}}</td>
					</tr>
					<tr>
						<td class="text-center">Gender</td>
						<td>{{achar.details.gender}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<center>
				<a class="btn btn-default btn-success back-button" ng-href="#!/books">Go Back</a>
			</center>
		</div>
		
	</div>
	
</div>

